.btn
  text-decoration: none
  display: inline-flex
  align-items: center
  background-color: #dedede
  color: button-default-color
  font-weight: 900
  padding: 10px
  default-border-radius()
  text-transform: uppercase
  box-shadow: 0px -5px 0px rgba(0,0,0,0.2) inset
  box-sizing: border-box
  default-transition()
  font-size: button-font-size
  border-bottom: 0
  padding-bottom: 15px
  cursor: pointer
  position: relative
  border: 0
  &:active
    box-shadow: 0px -2px 0px rgba(0,0,0,0.2) inset
    padding-bottom: 10px
    transform: translateY(3px)
  .fa
    margin-right: 8px
    font-size: button-icon-font-size
.inline-list
  .list-item
    display: inline-block
    margin: 0 10px

.overlay
  position: fixed
  height: 100%
  width: 100%
  left: 0
  top: 0
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1
  display: none
